@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.smooth-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .7s;
}

.smooth-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
