:root {
  --primary-color: #005B96;
  --primary-color-hover: #00426E;
  --secondary-color: #ff7f50;
  --color-0: #ffffff;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-color-hover:hover {
  color: var(--secondary-color);
  transition: .2s;
}

.white-color {
  color: var(--color-0);
}

.primary-color-bg {
  background-color: var(--primary-color);
}

.secondary-color-bg {
  background-color: var(--secondary-color);
}

.white-bg {
  background-color: var(--color-0);
}
