:root {
  /* Cores */
  --primary: #005B96;
  --primary-hover: #194577;
  --white: #fff;

  /* Sobreamento */
  --text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  --box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);

  /* Tipografia */
  --montserrat: 'Montserrat', sans-serif;
  --poppins: 'Poppins', sans-serif;
}