.home-bg {
  height: 841px;
  background: url('../../../../assets/images/background/meeting-background.jpg') no-repeat center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home h1 {
  margin-top: 200px;
  text-shadow: var(--text-shadow);
}

.home p {
  margin-top: 24px;
  text-shadow: var(--text-shadow);
}

.home a {
  margin-top: 60px;
}

.home h1::after {
  content: '|';
  opacity: 1;
  display: inline-block;
  margin-left: 5px;
  animation: blink 1s infinite;
}

@media (max-width: 700px) {
  .home-bg {
    height: 521px;
  }
  .home h1 {
    margin-top: 100px;
    font-size: 2.1rem;
  }
  .home :where(p, a) {
    font-size: 1.1rem;
  }
}

@media (max-width: 375px) {
  .home-bg {
    height: 420px;
  }
  .home h1 {
    margin-top: 90px;
    font-size: 1.6rem;
  }
  .home :where(p, a) {
    font-size: 1rem;
  }
}
