.partners-contact-bg {
  background-color: var(--white);
}

.partners-contact {
  display: flex;
  align-items: center;
  height: 500px;
}

.contact-meeting {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 360px;
  width: 600px;
  padding: 40px;
  background-color: var(--primary);
  color: var(--white);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  border-radius: 15px;
}

.contact-meeting h1 {
  font-size: 2rem;
  line-height: 50px;
  margin-bottom: 30px;
}

.contact-meeting p {
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 40px;
}
