.partners-bg {
  background-color: var(--primary);
}

.partners-prover-logo {
  width: 600px;
  margin-top: 120px;
}

.partners,
.partners-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-info {
  margin-bottom: 80px;
}

.partners h1 {
  margin: 60px 0 40px;
  text-shadow: var(--text-shadowshadow);
}

.partners p {
  margin-bottom: 64px;
  text-align: center;
  text-shadow: var(--text-shadowshadow);
}

.partners-carousel img {
  width: 200px;
}

.partners-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; 
}
