.servicos-container {
  display: flex;
  height: 841px;
}

.servicos-desc,
.servicos-carousel {
  margin-top: 200px;
  width: 800px;
}

.servicos-carousel {
  position: relative;
  margin-left: 120px;
}

.servicos-desc h1 {
  margin-bottom: 40px;
  text-shadow: var(--text-shadow);
}

.servicos-desc p {
  text-shadow: var(--text-shadow);
  margin-bottom: 32px;
}

.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos-carousel p {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  max-width: 600px;
  margin-top: 42px;
}

.servicos-carousel img {
  max-width: 340px;
}

.carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.8s;
}

.carousel .carousel-item-hidden {
  display: none;
}

.carousel img {
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
}

.carousel h2 {
  margin: 40px 0 5px 0;
  text-shadow: var(--text-shadow);
}

.setas-nav {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.setas-nav img {
  background-color: #ff7f50;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.setas-nav img:first-child {
  rotate: 180deg;
}

.setas-nav img:nth-child(2) {
  position: absolute;
  right: -560px;
}

.setas-nav img:hover {
  background-color: var(--primary-hover);
}
