.servicos-container {
  display: flex;
  height: 841px;
}

.servicos-desc,
.servicos-carousel {
  margin-top: 200px;
  width: 800px;
}

.servicos-carousel {
  position: relative;
  margin-left: 120px;
}

.servicos-desc h1 {
  margin-bottom: 40px;
  text-shadow: var(--text-shadow);
}

.servicos-desc p {
  text-shadow: var(--text-shadow);
  margin-bottom: 32px;
}

.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos-carousel p {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  max-width: 600px;
  margin-top: 42px;
}

.servicos-carousel img {
  max-width: 340px;
}

.carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.8s;
}

.carousel .carousel-item-hidden {
  display: none;
}

.carousel img {
  border-radius: 10px;
  padding: 20px;
}

.carousel h2 {
  margin: 40px 0 5px 0;
  text-shadow: var(--text-shadow);
}

.setas-nav {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.setas-nav img {
  background-color: var(--secondary-color);
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.setas-nav img:first-child {
  rotate: 180deg;
}

.setas-nav img:nth-child(2) {
  position: absolute;
  right: -560px;
}

@media (max-width: 1000px) {
  #servicos {
    height: 1850px;
  }
  .servicos-container {
    flex-direction: column;
  }
  .servicos-desc {
    margin: 100px 0 70px 0;
    width: 800px;
  }
  .servicos-desc h1 {
    font-size: 2.3rem;
  }
  .servicos-desc p {
    font-size: 1.1rem;
  }
  .servicos-carousel {
    margin: 0;
  }
  .carousel-item img {
    width: 200px;
  }
  .setas-nav img {
    display: none;
  }
  .carousel .carousel-item {
    align-items: start;
    margin-bottom: 50px;
  }
  .carousel .carousel-item-hidden {
    display: block;
  }
  .carousel-item h2,
  .carousel-item p {
    text-align: left;
    margin-top: 10px;
  }
  .carousel-item h2::before {
    content: '';
    width: 30px;
    height: 8px;
    margin-top: 50px;
    display: block;
    background-color: var(--secondary-color);
  }
}

@media (max-width: 850px) {
  #servicos {
    height: 1120px;
  }
  .servicos-container {
    flex-direction: column;
  }
  .servicos-desc {
    margin: 100px 0 10px 0;
    width: 580px;
  }
  .servicos-desc h1 {
    font-size: 2.1rem;
  }
  .servicos-desc p {
    font-size: 1.1rem;
  }
  .servicos-carousel,
  .carousel h2 {
    margin: 0;
  }
  .setas-nav,
  .carousel-item img {
    display: none;
  }
  .carousel-item p {
    margin-top: 20px;
  }
  .carousel .carousel-item {
    align-items: start;
    margin-bottom: 50px;
  }
  .carousel .carousel-item-hidden {
    display: block;
  }
  .carousel-item h2 {
    font-size: 1.6rem;
  }
  .carousel-item p {
    font-size: 1rem;
  }
  .carousel-item h2,
  .carousel-item p {
    text-align: left;
  }
  .carousel-item h2::before {
    content: '';
    width: 30px;
    height: 8px;
    display: block;
    background-color: var(--secondary-color);
  }
}
