.contact-bg {
  background-color: #ff7f50;
  color: var(--white);
  margin-top: 150px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 900px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.contact-info h1 {
  font-size: 2rem;
  line-height: 45px;
}

.contact-info .button {
  margin-top: 52px;
  width: 260px;
}

.contact-location {
  display: flex;
  flex-direction: row;
}

.location-map {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
}

.location-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-info .information {
  display: flex;
  align-items: center;
  gap: 15px;
}

.information .icons {
  background-color: white;
}
