.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: top no-repeat url('../../../../assets/images/background/projects-meeting.jpg') var(--primary-color);
}

.projects-container {
  display: grid;
  grid-template-columns: auto 760px 760px auto;
  width: 100%;
  padding: 80px 0 120px 0;
  margin-top: 120px;
}

.projects-container [data-js="prev-button"] {
  grid-area: 2;
  grid-column: 2;
  place-self: center;
  justify-self: end;
}

.projects-container [data-js="next-button"] {
  grid-area: 2;
  grid-column: 4;
  place-self: center;
  justify-self: start;
}

.projects-container h1 {
  margin-bottom: 120px;
  padding: 0;
  text-shadow: var(--text-shadow);
  text-align: center;
  grid-column: 1 / -1;
}

.projects-home {
  width: 1360px;
  height: 400px;
  margin-bottom: 50px;
}

.projects-home h1 {
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  margin-top: 160px;
}

.projects-home p {
  margin: 40px 0 72px 0;
  text-shadow: var(--text-shadow);
}

.projects-home a {
  display: block;
  width: max-content;
}

[data-js="prev-button"] {
  rotate: 180deg;
}

[data-js="prev-button"],
[data-js="next-button"] {
  padding: 5px 12px;
  border-radius: 3px;
  background-color: var(--secondary-color);
}

[data-js="prev-button"]:hover,
[data-js="next-button"]:hover {
  cursor: pointer;
}

.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
  grid-area: 2 / 2;
  place-self: center;
}

.projects-info h2 {
  margin-bottom: 80px;
  text-shadow: var(--text-shadow);
}

.projects-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  gap: 20px;
  text-shadow: var(--text-shadow);
}

.projects-desc .icons {
  padding: 11px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.projects-desc li {
  padding: 15px 0 15px 15px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.projects-preview {
  display: flex;
  grid-area: 2 / 3;
  place-self: center;
  align-items: center;
}

.projects-preview ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.projects-preview img {
  height: 450px;
}

.carousel-item-visible {
  display: block;
}

.carousel-item-hidden {
  display: none;
}
