.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: top no-repeat url('../../../../assets/images/background/projects-meeting.jpg');
}

.projects-container {
  display: grid;
  grid-template-columns: auto 760px 760px auto;
  width: 100%;
  padding: 80px 0 120px 0;
  margin-top: 240px;
}

.projects-container [data-js="prev-button"] {
  grid-area: 2;
  grid-column: 2;
  place-self: center;
  justify-self: end;
}

.projects-container [data-js="next-button"] {
  grid-area: 2;
  grid-column: 4;
  place-self: center;
  justify-self: start;
}

.projects-container h1 {
  margin-bottom: 120px;
  padding: 0;
  text-shadow: var(--text-shadow);
  text-align: center;
  grid-column: 1 / -1;
}

.projects-home {
  width: 1360px;
  height: 400px;
  margin-bottom: 50px;
}

.projects-home h1 {
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  margin-top: 160px;
}

.projects-home p {
  margin: 40px 0 72px 0;
  text-shadow: var(--text-shadow);
}

.projects-home a {
  display: block;
  width: max-content;
}

[data-js="prev-button"] {
  rotate: 180deg;
}

[data-js="prev-button"],
[data-js="next-button"] {
  padding: 5px 12px;
  border-radius: 3px;
  background-color: var(--secondary-color);
}

[data-js="prev-button"]:hover,
[data-js="next-button"]:hover {
  cursor: pointer;
}

.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
  grid-area: 2 / 2;
  place-self: center;
}

.projects-info h2 {
  margin-bottom: 80px;
  text-shadow: var(--text-shadow);
}

.projects-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  gap: 20px;
  text-shadow: var(--text-shadow);
}

.projects-desc .icons {
  padding: 11px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.projects-desc li {
  padding: 15px 0 15px 15px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.projects-preview {
  display: flex;
  grid-area: 2 / 3;
  place-self: center;
  align-items: center;
}

.projects-preview ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.projects-preview img {
  height: 450px;
}

.carousel-item-visible {
  display: block;
}

.carousel-item-hidden {
  display: none;
}

@media (max-width: 1000px) {
  .projects-home h1 {
    font-size: 2.2rem;
    margin-top: 100px;
  }
  .projects-home p, 
  .projects-home a {
    font-size: 1.1rem;
  }
  .projects-container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 80px 0;
    margin-top: 100px;
  }
  .projects-container h1 {
    margin: 0px 0px 80px 110px;
    font-size: 2.4rem;
    text-align: left;
    grid-column: 1 / -1;
  }
  .projects-info {
    place-self: start;
    margin-left: 110px;
    grid-row: 2;
    grid-area: 2;
  }
  .projects-info h2 {
    margin-bottom: 60px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .projects-info ul {
    margin-bottom: 60px;
  }
  .projects-desc li {
    font-size: 1rem;
    width: 100%;
  }
  .projects-preview ul li img {
    width: 180px;
    height: auto;
  }
  .projects-preview {
    place-self: start;
    margin-left: 110px;
    grid-row: 3 / -1;
    grid-area: 3;
  }
  .projects-container [data-js="prev-button"],
  .projects-container [data-js="next-button"] {
    display: none;
  }
}

@media (max-width: 375px) {
  .projects-container {
    margin-top: 80px;
    padding: 80px 0px 80px 20px;
  }
  .projects-container h1 {
    max-width: 90%;
    margin: 0px 0px 80px 0px;
    font-size: 1.8rem;
  }
  .projects-container [data-js="prev-button"],
  .projects-container [data-js="next-button"] {
    display: none;
  }
  .projects-home h1 {
    font-size: 2rem;
  }
  .projects-home p, 
  .projects-home a {
    font-size: 1.1rem;
  }
  .projects-desc li {
    font-size: .875rem;
  }
  .projects-desc .icons {
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  .projects-preview ul li img {
    display: none;
  }
  .projects-info {
    width: 300px;
    margin-left: 0px;
  }
  .projects-info h2 {
    font-size: 1.5rem;
  }
  .projects-info ul {
    margin-bottom: 0px;
  }
}
