@import 'servicos/servicos.css';
@import 'projetos/projetos.css';

/* Global */
@import './global/header.css';
@import './global/global.css';

/* Utilities */
@import './utilities/root.css';
@import './utilities/components.css';

.home-bg {
  height: 841px;
  background: linear-gradient(180deg, rgba(255,0,0,0) 70%, rgba(0,0,0,1) 100%),
  url('../../assets/images/background/meeting-background.jpg');
}

.home {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--white);
}

.home h1 {
  font-family: var(--poppins);
  font-size: 2.8rem;
  line-height: 56px;
  margin-top: 200px;
  text-shadow: var(--text-shadow);
}

.home p {
  font-size: 1.5rem;
  line-height: 32px;
  margin-top: 40px;
  text-shadow: var(--text-shadow);
}

.home a {
  font-size: 1.2rem;
  margin-top: 72px;
  padding: 17px 35px;
  border-radius: 10px;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
}
