.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 112px;
}

.header .header-logo a img {
  width: 250px;
  margin-left: 20px;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.header-menu a {
  position: relative;
}

.header-menu a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background: var(--primary-color);
  margin-top: 4px;
  transition: .3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins);
}

.header-sociais ul {
  display: flex;
  align-items: center;
}

.header-sociais,
.header-sociais li {
  margin-right: 20px;
}

.icones-sociais {
  filter: invert(15%) sepia(91%) saturate(3265%) hue-rotate(189deg) brightness(102%) contrast(101%);
}
