img {
  max-width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 841px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.projects-preview ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
