.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: top no-repeat url('../../../assets/images/background/projects-meeting.jpg') var(--primary);
}

.projects h1 {
  text-align: start;
  margin: -30px 0 24px 620px;
  width: 100%;
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  background-color: var(--primary);
  margin-bottom: 120px;
}

.projects-home {
  width: 1360px;
  height: 400px;
  margin-bottom: 50px;
  color: var(--white);
}

.projects-home h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 58px;
  text-shadow: var(--text-shadow);
  margin: 120px 0 0 0;
}

.projects-home p {
  margin: 40px 0 72px 0;
  font-size: 1.2rem;
  line-height: 30px;
  text-shadow: var(--text-shadow);
}

.spacer {
  aspect-ratio: 420/184;
  width: 100%;
  margin: 50px 0 -500px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  background-image: url('../../../assets/images/projetos/wave-haikei.svg');
}

[data-js="prev-button"] {
  rotate: 180deg;
}

[data-js="prev-button"],
[data-js="next-button"] {
  padding: 5px 7px;
  border-radius: 3px;
}

[data-js="prev-button"]:hover,
[data-js="next-button"]:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
}

.projects-info h2 {
  font-family: var(--poppins);
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.projects-desc {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  font-weight: 500;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.projects-desc li {
  padding: 15px 0 15px 40px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.projects-preview {
  height: 530px;
}

.projects-preview ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects-preview img {
  margin-top: 50px;
  height: 430px;
}
