body {
  font-family: var(--montserrat);
}

img {
  max-width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-color: var(--primary);
}

.projects h1 {
  text-align: start;
  margin: 0 0 16px 630px;
  width: 100%;
  font-family: var(--poppins);
  font-weight: 700;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

[data-js="prev-button"] {
  rotate: 180deg;
}

[data-js="prev-button"],
[data-js="next-button"] {
  cursor: pointer;
}

.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
}

.projects-info h2 {
  font-family: var(--poppins);
  font-weight: 500;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.projects-desc {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  font-weight: 400;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.projects-desc li {
  padding: 15px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.projects-preview ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
