.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-info .button {
  margin-top: 60px;
  width: 260px;
}

.contact-location {
  display: flex;
}

.location-map {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  margin-right: 30px;
  position: relative;
}

.location-map img {
  border-radius: 4px;
}

.location-map img:nth-child(2) {
  width: 35px;
  height: 35px;
  right: 120px;
  bottom: 200px;
  position: absolute;
}

.location-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-info .information {
  display: flex;
  align-items: center;
  gap: 15px;
}

.information {
  margin-bottom: 20px;
}

.information .icons {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 13px;
}

@media (max-width: 375px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .contact-info h1 {
    font-size: 1.5rem;
  }
  .contact-info p {
    font-size: .875rem;
  }
  .contact-info .button {
    font-size: .875rem;
    padding: 15px 8px;
    margin-top: 45px;
    width: 70%;
  }
  .contact-location .location-map {
    display: none;
  }
  .information :where(span, address) {
    font-size: .875rem;
  }
  .information .icons {
    width: 25px;
    height: 25px;
    padding: 5px;
  }
}
